* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #111;
    color: #ccc;
    font-family: Verdana, sans-serif;
    font-size: 14px;
}

p {
    margin: 1em;
}

.noselect {
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.noselect:hover {
    cursor: default;
}

.clock {
    width: 1280px;
    height: 720px;
    background: url('https://i.imgur.com/K6PY86t.jpg') no-repeat center;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.timedigit {
    font-family: "Orbitron", Verdana, sans-serif;
    font-weight: 500;
    opacity: 0.8;
    color: #ffed6f;
    font-size: 58px;
    mix-blend-mode: overlay;
    text-shadow: -1px -2px 4px rgba(169, 8, 8, 0.57);
}

.clock > div {
    display: inline-block;
    height: 50px;
    width: 190px;
    position: absolute;
    text-align: center;
    top: 155px;
}

.letter {
    min-width: 50px;
    display: inline-block;
}

#day {
    left: 335px;
}

#hrs {
    left: 518px;
}

#min {
    left: 685px;
}

#sec {
    left: 838px;
}